* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

::selection {
  background-color: #6F9AF6;
  color: black;
}

html {
  min-height:100%;
  position:relative;
}

body {
  display: flex; 
  justify-content: center; align-items: center; flex-flow: column;
}




#background {

  background-image: url("https://images.unsplash.com/photo-1616863515344-8cbf3989ee0e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=8");
  background-size: cover;

  width: 100vw;
  height: 100%;

  z-index: 0;
  position: absolute;

}


main {

  z-index: 3;

  width: 66vw;

  background-image: linear-gradient(45deg, #F0F0F0 9%, #FAFAFA 10%, #FAFAFA 90%,  #F0F0F0 91%);
  box-shadow: 2px 2px 15px 1px black;
  border-radius: 0.25rem;
  border: 3px solid #aaaaaa;

  margin-top: 10rem;

  color: #49535C;
  text-shadow: 2px 2px 4px  #aaaaaa;

} main:first-child {

  display: flex;
  flex-direction: row;
  justify-content: center; align-items: center;

} main:last-child {

  margin-bottom: 10rem;

}

h3 {
  color: #5B6875;
}


/*
 * For paragraphs
 */
p {
  padding: 2rem;
  text-align: center;
}

.pnormal {

  display: inline-block;
  float: left;
  text-indent: 4rem;
  text-align: justify;
  text-justify: inter-word;

} .pnormal:last-child {
  
  margin-bottom: 1rem;

}

h3 {
  padding: 1rem;
  text-align: center;
}

img {

  float: right;
  display: inline-block;
  box-shadow: 2px 8px 15px 1px black;

  margin-right: 3rem;
  
}

.left-part {

  width: 100%;


} .left-part .pnormal:first-child {

  width: 60%;

}


p span {

  text-shadow: 2px 2px 4px #black;
  background-color: #6F9AF6;
  color: black;

}

/*
 * Misc: Footer, Header e vídeo
 */



iframe {

  box-shadow: 2px 2px 15px 1px black;
  border: 3px solid #aaaaaa;
  width: 100%;
  height: 50vw;

}

header {

  position: absolute;
  top: 0;

  border-color: #5B6875;
  border-style: solid;
  border-width: 0 0 3px 0;

}

footer {

  position: absolute;
  bottom: 0;

  border-color: #5B6875;
  border-style: solid;
  border-width: 3px 0 0 0;
}

header,
footer {
  
  background-image: linear-gradient(135deg, #0A100E, #151516);
  color: #AEBEC9;
  width: 100vw;
  height: 2rem;

  display: flex;
  justify-content: center; align-items: center;

  z-index: 4;



  box-shadow: 2px 2px 15px 1px black;

}

footer span,
header span {

  color: #ffffff;

  margin: 0 0.5rem;

}






/*
 * Compatibildade com Dispositivos menores
 */ 



/* Tablets */
@media only screen and (min-width: 1024px) and (min-height: 1366px) {

  html {

    font-size: 18px;

  }

  main:first-child {
  
    flex-direction: column;

  }

  img {

    margin-bottom: 2.5rem;

  }

  iframe {

/*    width: unset;
    height: unset;*/

  }

}


/* Celulares médios */
@media only screen and (max-width: 430px) {

  footer div, header div {

    width: 0;

  }

}

/* Celulares médios */
@media only screen and (max-width: 600px) {

  main:first-child {

    flex-direction: column;

  }

  main {

    width: 90vw;
  
    margin-top: 4rem;

  } #compositor {

    display: flex;
    align-items: center; justify-content: center; flex-direction: column;

  }

  .left-part { 

    width: 100%;
    display: flex;
    align-items: center; justify-content: center; flex-direction: column;



  } .left-part .pnormal:first-child {

    width: 100%;

  }

  .pnormal {

    float: unset;
    
  }

  img {

    float: unset;

    margin: 1rem 0;

  }

  .pnormal {
  
    padding: 0.5rem;
    text-indent: 1rem;

  }

  h3 {

    margin-top: 1rem;
    padding: 0.25rem;

  }


  .left-part {

    width: 75%;

  }

  #main_content {

    padding-bottom: 1rem;

  }

  main:last-child {

    padding: 0;
    margin-bottom: 4rem;

  }
  
}



/* Celulares pequenos */
@media only screen and (max-width: 360px) {


  footer div, header div {

    width: 0;

  }

  .left-part {

    width: 90%;
  
  }

  .pnormal {

    text-indent: 0.75rem;

  }

/*  iframe {

    width: 400px!important;
    height: 145px!important;

  }*/

}
