* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

::selection {
  background-color: #6F9AF6;
  color: black;
}

html {
  min-height:100%;
  position:relative;
}

body {
  display: flex; 
  justify-align: center; align-items: center; flex-flow: column;
}




#background {
  background-image: url("https://images.unsplash.com/photo-1616863515344-8cbf3989ee0e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=8");
  background-size: cover;
  width: 100vw;
  height: 100%;
  z-index: 0;
  position: absolute;
}


main {

  width: 66vw;
  background-color: #FAFAFA;
  z-index: 3;
  box-shadow: 2px 2px 15px 1px black;
  border-radius: 0.25rem;
  color: #49535C;
  border: 3px solid #aaaaaa;
  margin-top: 10rem;

} main:first-child {

  display: flex;
  flex-direction: row;
  justify-align: center; align-items: center;

} main:last-child {

  display: flex; 
  justify-align: center; align-items: center; flex-flow: column;
  
  padding: 4rem;

  margin-bottom: 10rem;

}

h3 {
  color: #5B6875;
}


/*
 * For paragraphs
 */
p {
  padding: 2rem;
  text-align: center;
}

.pnormal {

  display: inline-block;
  float: left;
  text-indent: 4rem;
  text-align: justify;
  text-justify: inter-word;

} .pnormal:last-child {
  
  margin-bottom: 1rem;

}

h3 {
  padding: 1rem;
  text-align: center;
}

img {
  float: right;
  display: inline-block;
  box-shadow: 2px 8px 15px 1px black;
  
}

.left-part {

  width: 49vw;

}

/*
 *
 */



iframe {
  box-shadow: 2px 2px 15px 1px black;
  border: 3px solid #aaaaaa;
}
